# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# =========================
# FASTAPI / UVICORN
# =========================
*.log

# =========================
# VARIABLES DE ENTORNO
# =========================
.env

# =========================
# VSCODE
# =========================
.vscode/

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# NODE / FRONTEND
# =========================
node_modules/

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.tmp
*.temp

# =========================
# CACHE
# =========================
.pytest_cache/
.mypy_cache/
.cache/

# =========================
# SQLITE
# =========================
*.sqlite3
*.db

# =========================
# ARCHIVOS DE BUILD
# =========================
dist/
build/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/